@import "_variables.scss";

body {
  background-position: center bottom;
  background-size: 100%;
  background-repeat: no-repeat;
  background-image: url("../svg/bg.svg");
  scroll-behavior: smooth;
}

.toogle-container {
  transition: width 500ms ease-in-out;
}

.container {
  $width: $container-xs;
  width: $width;
  padding: 1em;
  margin: auto;
  .toogled {
    width: $container-xs !important;
  }
  @media screen and(min-width: 576px) {
    width: $container-sm;
    padding: 0px;
  }
  @media screen and(min-width: 768px) {
    width: $container-md;
    .toogled {
      width: $container-md - $aside-width-md !important;
    }
  }
  @media screen and(min-width: 992px) {
    width: $container-lg;
    .toogled {
      width: $container-lg - $aside-width-md !important;
    }
  }
  @media screen and(min-width: 1200px) {
    width: $container-xl;
    .toogled {
      width: $container-xl - $aside-width-lg !important;
    }
  }
  @media screen and(min-width: 1400px) {
    width: $container-xxl;
    .toogled {
      width: $container-xxl - $aside-width-lg !important;
    }
  }
}

.is-grid {
  gap: 40px;
  display: grid;
}

.has-2 {
  grid-template-columns: 1fr;
  @media screen and(min-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
  }
}

h1 {
  font-size: 2.6rem;
  font-weight: bold;
  font-family: $fontRoboto;
}
h2 {
  font-size: 1.8rem;
  font-weight: bold;
  font-family: $fontRoboto;
}
h3 {
  font-family: $fontMontserrat;
  font-size: 1.3rem;
  font-weight: 300;
}

.landing-page {
  color: $primary-dark;
  .my-5 {
    margin-top: 75px;
    margin-bottom: 75px;
  }

  .landing-container {
    padding-right: 370px;
    position: relative;
  }

  .container {
    position: relative;
  }
  .cours-info-container {
    position: absolute;
    right: 0px;
    width: 350px;
    .cours-info {
      top: 150px;
      position: fixed;
      width: 350px;
      z-index: 30;
      padding: 2px;
      background: #ffffff 0% 0% no-repeat padding-box;
      box-shadow: 0px 0px 10px #00000029;
      border-radius: 5px;
      .cours-info-description {
        padding: $default-gap;
      }
      h3 {
        font: 1.75rem/1.625rem $fontRoboto;
        font-weight: 500;
        letter-spacing: 0px;
        color: $primary-dark;
        opacity: 1;
        margin-bottom: 10px;
      }
      .actions {
        a,
        button {
          display: block;
          margin-bottom: 10px;
          text-align:center;
        }
      }
      h4 {
        margin-top: 24px;
        font-weight: 500;
        font: 1.1rem/1.625rem $fontRoboto;
        letter-spacing: 0px;
        color: $primary-dark;
      }

      .description-list {
        font: 0.9rem/1.625rem $fontRoboto;
        color: $gray;
        opacity: 1;
      }
    }
  }

  @media screen and (max-width: $break-point-lg) {
    .landing-container {
      padding-right: 0px;
    }
    .cours-info-container {
      position: static;
      width: 100%;
      .cours-info {
        border: 0px;
        box-shadow: none;
        display: grid;
        justify-content: center;
        align-items: center;
        grid-template-columns: repeat(2, 1fr);
        top: 150px;
        position: static;
        width: 100%;
      }
    }
  }

  @media screen and (max-width: $break-point-md) {
    .cours-info-container {
      .cours-info {
        grid-template-columns: 1fr;
      }
    }
  }
  p {
    line-height: 2em;
  }
  h2 {
    margin-top: 2rem;
    color: $primary;
    padding-bottom: 10px;
  }
}

.front-grid {
  grid-template-columns: 1fr;
  grid-template-rows: fit-content(100%) 1fr;
  padding-left: 0px;

  @media screen and (min-width: $break-point-xl) {
    padding-left: 100px;
  }
  @media screen and (min-width: $break-point-lg) {
    grid-template-columns: 260px auto;
  }

  .main-frame {
    @media screen and (min-width: $break-point-lg) {
      grid-row-start: 1;
      grid-row-end: 3;
      grid-column-start: 2;
    }
  }

  color: $primary-dark;
  margin-top: 75px;
  margin-bottom: 75px;
  .card-container {
    flex-direction: column;
    gap: 40px;
    display: flex;

    &.is-related {
      .card {
        .card-body {
          display: grid;
          gap: $default-gap;
          grid-template-columns: 1fr;

          flex-direction: row;
          @media screen and (min-width: $break-point-sm) {
            grid-template-columns: repeat(2, 1fr);
          }
          @media screen and (min-width: $break-point-md) {
            grid-template-columns: repeat(3, 1fr);
          }
          @media screen and (min-width: $break-point-lg) {
            grid-template-columns: 1fr;
          }
        }
      }
    }
    @media screen and (min-width: $break-point-sm) {
      flex-direction: row;
    }
    @media screen and (min-width: $break-point-md) {
      flex-direction: row;
    }
    @media screen and (min-width: $break-point-lg) {
      flex-direction: column;
    }

    .title {
      display: block;
      margin: 8px 0px 4px;
      letter-spacing: 1px;
      text-transform: uppercase;
      font-size: 10px;
      font-family: $fontRoboto;
    }
    .text {
      font: normal normal bold 16px/22px $fontRoboto;
    }
  }
  p {
    line-height: 2em;
  }
  h2 {
    margin-top: 2rem;
    color: $primary;
    padding-bottom: 10px;
  }
}

ul.checks {
  padding-inline-start: 20px;
  li {
    padding: 10px;
    &::marker {
      font-family: $fontAwesome;
      font-weight: 900;
      font-size: 1.2em;
      content: "\f058";
      color: $primary-light;
      margin: 10px;
    }
  }
}

.bread-crumb {
  display: none;
  @media screen and (min-width: $break-point-md) {
    display: flex;
  }
  font-size: 10px;
  font: normal normal normal 10px/11px $fontRoboto;
  letter-spacing: 0px;
  gap: 10px;
  align-items: center;
  li {
    &::after {
      font-family: $fontAwesome;
      font-weight: 700;
      padding-left: 10px;
      content: "\f30b";
    }
    &:last-of-type::after {
      display: none;
    }
  }
  a {
    color: $white;
  }
}

.filter {
  margin-top: 40px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: $default-gap;
  @media screen and(min-width: 768px) {
    flex-direction: row;
  }
  input[type="search"] {
    width: 100%;
  }
}

.course-detail {
  color: $primary-dark;
  margin: 2 * $default-gap auto 3 * $default-gap;
  p {
    line-height: 2em;
  }
  h2 {
    margin-top: 2rem;
    color: $primary;
    padding-bottom: 10px;
  }
}

.vider-container {
  video {
    position: relative;
    z-index: 2;
  }
  position: relative;
  &::before {
    z-index: 1;
    position: absolute;
    content: " ";
    background: $primary-dark;
    width: 100%;
    height: 200px;
  }
}

.text-dark {
  color: $primary-dark;
}
.text-primary {
  color: $primary;
}

.text-center {
  text-align: center;
}

.section_title {
  font-size: 1.5rem;
}
