@import "_variables.scss";
.btn {
  padding: 12px 20px;
  font-family: $fontRoboto;
  border: 0px;
  background: $white;
  svg {
    height: 1em;
  }
  display: inline-flex;
  justify-content: center;

  align-items: center;
  border-radius: 5px;
  border: 1px solid transparent;
  &.big-text {
    font-size: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
.show-btn {
  width: 94px;
}
a,
button {
  &:disabled {
    cursor: not-allowed;
  }
}

.btn-outline-dark {
  border-color: $primary-dark;
  color: $primary-dark;
  background: $white;
  &:hover {
    background: $primary-dark;
    color: $white;
    svg {
      fill: $white;
    }
  }

  &:disabled {
    border-color: rgba($primary-dark, 0.3);
    background: $white;
    color: rgba($primary-dark, 0.3);
    &:hover {
      border-color: rgba($primary-dark, 0.3);
      background: $white;
      color: rgba($primary-dark, 0.3);
    }

    &.hover-outline:hover {
      border-color: rgba($primary-dark, 0.3);
      background: $white;
      color: rgba($primary-dark, 0.3);
    }
  }
}

.btn-dark {
  border-color: $primary-dark;
  background: $primary-dark;
  color: $white;
  &:hover {
    color: $primary-dark;
    background: $white;
    svg {
      fill: $white;
    }
  }

  &:disabled {
    border-color: rgba($primary-dark, 0.3);
    background: rgba($primary-dark, 0.3);
    color: $white;
    &:hover {
      border-color: rgba($primary-dark, 0.3);
      background: $white;
      color: rgba($primary-dark, 0.3);
    }
  }
}

.filter-buttons {
  display: flex;
  flex-direction: column;
  @media screen and (min-width: $break-point-md) {
    flex-direction: row;
  }
  gap: $default-gap;
}

.btn-primary {
  background: $primary;
  color: $white;
  &:hover {
    color: $primary;
    background: $white;
  }
  &:disabled {
    color: $white;
    background: rgba($primary, 0.3);
    &.hover-outline:hover {
      border-color: transparent;
    }
  }
  &.hover-outline:hover {
    border-color: $primary;
  }
}

.btn-outline-primary {
  color: $primary;
  background: $white;
  border-color: $primary;
  &:hover {
    background: $primary;
    color: $white;
  }
}

.btn-outline-white {
  background: $primary-dark;
  color: $white;
  border-color: $white;
  &:hover {
    color: $primary-dark;
    background: $white;
  }
}

.btn-link {
  color: $primary;
  text-decoration: underline;
  padding-left: 0px;
  padding-right: 0px;
  background: transparent;
  &:hover {
    text-decoration: none;
    font-weight: bolder;
  }
}

.read-more {
  color: $primary;
  background: transparent;
  font-size: 0.9em;
  padding: 0px;
  text-decoration: underline;
  border: none;
  &::before {
    font-family: $fontAwesome;
    content: "\f067";
    font-weight: 700;
    font-size: 0.8em;
    transition: transform 300ms ease-in-out;
    text-decoration: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 2em;
    height: 1em;
    transform-origin: center;
  }
  &:hover::before {
    transform: rotate(-90deg);
  }
}

input[type="search"] {
  border: none;
  padding: 12px 0px;

  &:focus {
    outline: none;
  }
}

.checkbox-container {
  display: block;
  position: relative;
  padding-left: 1em;
  cursor: pointer;
  font-size: 1em;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
    &:checked ~ .checkmark {
      &:after {
        display: flex;
      }
    }
  }
  &:hover input ~ .checkmark {
    background-color: lighten($primary-dark, 75);
  }
  &:after {
    content: "";
    position: absolute;
    display: none;
  }
  .checkmark {
    position: absolute;
    top: 0;
    border: 1px solid $primary-dark;
    left: 0;
    height: 1em;
    width: 1em;
    background-color: $white;
    &:after {
      display: none;
      width: 100%;
      height: 100%;
      font-weight: 700;
      font-size: 0.6em;
      color: $primary-dark;
      content: "\f00c";
      align-items: center;
      justify-content: center;
      font-family: $fontAwesome;
    }
  }
}
