@import "_variables.scss";
footer {
  z-index: 10;
  background: $primary-dark;
  display: flex;
  position: relative;
  padding: 0px;

  @media screen and(min-width: 576px) {
    padding: $default-gap 0px;
  }
  .btn-top {
    top: -20px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $primary-dark;
    height: 40px;
    position: absolute;
    background: $white;
    border: 1px solid $primary-dark;
  }
  ul {
    display: flex;
    flex-direction: column;
    @media screen and(min-width: 576px) {
      justify-content: flex-end;
      flex-direction: row;
    }
    li {
      padding: 0.5em 0px;
      text-align: center;
      @media screen and(min-width: 576px) {
        padding: 0px $default-gap;
      }
      position: relative;
      &::after {
        @media screen and(min-width: 576px) {
          display: block;
        }
        content: " ";
        width: 3px;
        display: none;
        border-radius: 50%;
        position: absolute;
        top: 50%;
        right: -1px;
        height: 3px;
        background: $white;
      }
      &:last-of-type::after {
        display: none;
      }
    }
    a {
      color: $white;
      font-family: $fontRoboto;
      font-size: 14px;
    }
  }
}
