#sidebar-toogler {
  position: absolute;
  width: 40px;
  height: 40px;
  color: $primary;
  background: $white;
  border: none;
  border: 1px solid $primary-dark;
  border-right: 0px;
  left: 0px;
  transform: translateX(-100%);
  z-index: 3;
}

$aside-bg: #f6f6f6;

aside {
  width: 100%;
  padding-bottom: $footer-height;
  position: fixed;
  z-index: 999;
  height: calc(100vh - #{$header-height} - #{$footer-height});
  background: $aside-bg;
  padding: $default-gap 0px;
  transition: all 500ms ease-in-out;
  top: $header-height;
  left: 99vw;
  right: 0px;
  bottom: 0px;

  @media screen and(max-width: 768px) {
    height: calc(100vh - #{$header-height});
  }

  &.toogled {
    #sidebar-toogler svg {
      transform: rotate(180deg);
    }
  }
  .close-side-bar {
    display: none;
    @media screen and(max-width: 768px) {
      display: block;
    }
  }
  .actions {
    display: flex;
    width: 100%;
    padding: 0px 1em;
    @media screen and(min-width: 576px) {
      width: $container-sm;
      padding: 0px;
      margin: auto;
    }
    @media screen and(min-width: 768px) {
      margin: 0px;
      width: $aside-width-md;
    }

    @media screen and(min-width: 1200px) {
      width: $aside-width-lg;
    }
    gap: $default-gap;
    justify-content: flex-end;
  }
  .header {
    width: 100%;
    padding: 0px 1em;

    @media screen and(min-width: 576px) {
      width: $container-sm;
      padding: 0px;
      margin: auto;
    }
    @media screen and(min-width: 768px) {
      margin: 0px;
      padding-inline-start: $default-gap * 2;
      width: $aside-width-md;
    }

    @media screen and(min-width: 1200px) {
      width: $aside-width-lg;
    }

    & > div {
      padding: 10px 0px;
      justify-content: space-between;
      border-bottom: 1px solid $primary;
      color: $primary;
      font: 20px/26px $fontRoboto;
      display: flex;
      button {
        padding: 0px;
      }
    }
  }

  .lessons-list {
    height: calc(100vh - #{$header-height} - 140px);

    // @media screen and(min-width: 576px) {
    //   height: calc(100vh - #{$header-height} - 150px);
    // }
    @media screen and(min-width: 768px) {
      height: calc(100vh - #{$header-height} - 160px);
    }

    overflow: auto;
    li {
      background: $aside-bg;
      .li-container {
        width: 100%;
        display: flex;
        gap: $default-gap / 2;
        height: 70px;
        padding: 10px 1em;

        @media screen and(min-width: 576px) {
          width: $container-sm;
          padding: 10px 0px;
          margin: auto;
        }

        @media screen and(min-width: 768px) {
          width: $aside-width-md;
          margin: 0px;
          padding-top: 10px;
          padding-bottom: 10px;
          padding-inline-start: $default-gap * 2;
          align-items: flex-start;
        }

        @media screen and(min-width: 1200px) {
          width: $aside-width-lg;
        }

        & > div {
          width: 100%;
        }

        a {
          display: block;
          width: 100%;
        }
        .title {
          color: $primary-dark;
          font: normal normal normal 14px/20px $fontRoboto;
          letter-spacing: 0px;
        }
        .time {
          font: normal normal normal 10px/26px $fontRoboto;
          color: $gray;
        }
      }
      &:hover {
        background: darken($aside-bg, 10);
      }
      &:nth-of-type(2n) {
        background: #ededed;
        &:hover {
          background: darken(#ededed, 10);
        }
      }
      .disabled {
        color: $gray !important;
        .title {
          color: inherit;
        }
        .time {
          color: inherit;
        }
      }
      &.active {
        &:hover {
          background: $primary-dark;
        }
        background: $primary-dark;
        color: $white;
        .title {
          color: $white;
        }
        .time {
          color: $white;
        }
      }
    }
  }
}

.progress {
  border: 1px solid $primary-dark;
  border-radius: 5px;
  height: 1em;
  width: 100%;
  margin: 0px 1em;
  position: relative;
  .progress-bar {
    height: 100%;
    background: lighten($primary, 20);
  }

  .progress-label {
    color: $primary-dark;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    font-size: 0.8em;
  }

  @media screen and(min-width: 576px) {
    width: $container-sm;
    margin: 0px;
    margin: auto;
  }
  @media screen and(min-width: 768px) {
    margin: 0px;
    margin-inline-start: $default-gap * 2;
    width: $aside-width-md;
  }

  @media screen and(min-width: 1200px) {
    width: $aside-width-lg;
  }
}
