@import "_variables.scss";

.topbar {
  margin-top: $header-height;
  background: $primary-dark;
  color: $white;
  position: relative;
  padding: 30px 0px !important;
  background-image: url('../images/orientation_banner.png');
  height: 295px;
  background-position: -6% 40%;
  background-size: 1600px 380px;
  background-repeat: no-repeat;
  h1 {
    padding-top: 20px;
  }
  p {
    font-family: $fontRoboto;
    font-size: 1.1rem;
    line-height: 1.44em;
    margin: {
      top: 10px;
      bottom: 29px;
    }
  }

  a {
    font-size: 1rem;
  }

  .video-container {
    video {
      height: 100%;
    }
  }

  .actions {
    display: flex;
    gap: $default-gap;
    flex-direction: column;
    @media screen and (min-width: $break-point-lg) {
      flex-direction: row;
    }
  }

  .category {
    border-left: 3px solid $white;
    padding-left: 10px;
    text-transform: uppercase;

    font: normal normal bold 14px/16px $fontRoboto;
    letter-spacing: 0px;
  }
}

.topbar-cd{
  height:auto !important;
  background-image: none !important;
}
