.title {
  margin: 16px 0px;
  text-align: center;
}

.errorDiv {
  color: red;
  font-weight: 700;
  font-size: 12px;
}
.question {
  width: 100%;
  margin: 15px 0px;
  .response {
    width: 100%;
    margin: 10px 0px;
    label {
      &:hover {
        font-weight: 700;
      }
      cursor: pointer;
    }
    input[type="checkbox"] {
      margin-inline-end: 10px;

      &:checked {
        & ~ span {
          font-weight: 700;
        }
      }
    }
  }
}
